.divider {
    width: 70%;
    height: 1px;
    margin: 30px 25px 30px;
    &.is-vertical {
        width: 1px;
        height: 100%;
        margin: 25px 30px 25px;
    }
    &.is-prim {
        background-color: $primdividercolor;
    }
    &.is-sec {
        background-color: $secdividercolor;
    }
}