.slider {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .slides {
        width: 100%;
        height: $defaultslidesheight;
        display: none;
        &.active {
            display: block;
        }
    }
}