@import "variables";
@import "../GrimCSS/SCSS/core/core";      

* {
    font-family: 'Raleway', sans-serif;    
    color: $defaultcolor;    
}                                                                 
form {
    textarea:focus {
        outline-offset: 0!important; 
        outline: 0!important;
    }  
    input:focus {
        outline-offset: 0!important;
        outline: 0!important;
    }
}
.lobster {
    font-family: 'Lobster', cursive;
}

      